<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: common_header(~{::title})}">
    <title>Редактировать входящий документ</title>
    <link rel="stylesheet" href="../../views/css/styles.css" type="text/css"/>
</head>

<body>
<div id="container">
    <div id="header" th:replace="~{base :: #header}">
        <h1>Archivarius</h1>
        <h2>Documents Workflow System</h2>
    </div>

    <div id="navigation" th:replace="~{base :: #navigation}">
        <ul>
            <li><a href="../document/inbox.html">Входящие документы</a></li>
        </ul>
    </div>

    <div id="body">
        <div class="sidebar sidebar-left" th:replace="~{sidebars :: #sidebar-left-inbox}"></div>

        <div id="content">
            <h2>Редактировать входящий документ</h2>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
            <form th:action="@{/document/inbox}" action="uploadFile" enctype="multipart/form-data" method="post">
                <input type="hidden" name="id" th:value="${document.id}">
                <input type="hidden" name="documentKey" th:value="${documentKey}">
                <table>
                    <tr>
                        <td><label for="title">Название документа</label></td>
                        <td><input id="title" name="title" th:placeholder="#{form.document.title}"
                                   placeholder="Введите название документа" th:value="${document.title}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="author">Автор</label></td>
                        <td><input id="author" name="author" th:placeholder="#{form.document.author}"
                                   placeholder="Введите автора документа" th:value="${document.author}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="documentType">Тип документа</label></td>
                        <td>
                            <select id="documentType" name="documentType">
                                <option selected th:value="${document.id}" th:text="${document.title}">Выбранное</option>
                                <option th:each="docType : ${doctypes}" value="1" th:value="${docType.id}" th:text="${docType.name}">
                                    Option
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="dateOfReceive">Дата получения:</label></td>
                        <td><input id="dateOfReceive" name="dateOfReceive" th:placeholder="#{form.document.dateOfReceive}"
                                   type="date" th:value="${document.dateOfReceive}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="department">Получатель</label></td>
                        <td>
                            <select id="department" name="department">
                                <option th:each="deps : ${departs}" value="1" th:value="${deps.id}" th:text="${deps.name}">
                                    Option
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="deadline">Срок ответа:</label></td>
                        <td><input id="deadline" name="deadline" th:placeholder="#{form.document.deadline}"
                                   type="date" th:value="${document.deadline}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="status">Состояние документа:</label></td>
                        <td>
                            <select id="status" name="status">
                                <option value="Получен">Получен</option>
                                <option value="Подписан">Подписан</option>
                                <option value="Требуется подпись">Требуется подпись</option>
                                <option value="Отказано в согласновании">Отказано в согласновании</option>
                                <option value="Ошибка в документе">Ошибка в документе</option>
                                <option value="Документооборот завершен">Документооборот завершен</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Загрузить файл:
                        </td>
                        <td>
                            <input type="file" name="file">
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" th:value="#{button.submit}" value="Подтвердить" class="formbutton"></td>
                        <td><input type="submit" th:value="#{button.delete}" value="Удалить" class="formbutton"></td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="sidebar sidebar-right" th:replace="~{base :: #sidebar-right}">
            <ul>
                <li>
                    <h4>Ссылки</h4>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>

    <div id="footer" th:replace="~{base :: #footer}">
        <p>&copy; Archivarius 2016.</p>
    </div>
</div>
</body>
</html>
