<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: common_header(~{::title})}">
    <title>Параметры роли</title>
    <link rel="stylesheet" href="../../views/css/styles.css" type="text/css"/>
</head>

<body>
<div id="container">
    <div id="header" th:replace="~{base :: #header}">
        <h1>Archivarius</h1>
        <h2>Documents Workflow System</h2>
    </div>

    <div id="navigation" th:replace="~{base :: #navigation}">
        <ul>
            <li><a href="../inbox.html">Входящие документы</a></li>
        </ul>
    </div>

    <div id="body">
        <div class="sidebar sidebar-left" th:replace="~{sidebars :: #sidebar-left-role}">
            <ul>
                <li>
                    <h4>О программе</h4>
                </li>
            </ul>
        </div>

        <div id="content">
            <h2>Параметры роли</h2>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
            <form th:action="@{/role/}" action="" method="post">
                <input type="hidden" name="id" th:value="${role.id}">
                <table>
                    <tr>
                        <td><label for="name">Название роли</label></td>
                        <td><input id="name" name="name" th:placeholder="#{form.role.title}"
                                   placeholder="Введите название роли" th:value="${role.name}">
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" th:value="#{button.submit}" value="Подтвердить" class="formbutton"></td>
            </form>
            <td>
                <form th:action="@{/role/delete}" method="post">
                    <input type="hidden" th:field="${role.id}" />
                    <input type="submit" th:value="#{button.delete}" value="Удалить" class="formbutton">
                </form>
            </td>
            </tr>
            </table>
        </div>

        <div class="sidebar sidebar-right" th:replace="~{base :: #sidebar-right}">
            <ul>
                <li>
                    <h4>Ссылки</h4>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>

    <div id="footer" th:replace="~{base :: #footer}">
        <p>&copy; Archivarius 2016.</p>
    </div>
</div>
</body>
</html>
