<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: common_header(~{::title})}">
    <title>Параметры пользователя</title>
    <link rel="stylesheet" href="../../views/css/styles.css" type="text/css"/>
</head>

<body>
<div id="container">
    <div id="header" th:replace="~{base :: #header}">
        <h1>Archivarius</h1>
        <h2>Documents Workflow System</h2>
    </div>

    <div id="navigation" th:replace="~{base :: #navigation}">
        <ul>
            <li><a href="../inbox.html">Входящие документы</a></li>
        </ul>
    </div>

    <div id="body">
        <div class="sidebar sidebar-left" th:replace="~{sidebars :: #sidebar-left-user}">
            <ul>
                <li>
                    <h4>О программе</h4>
                </li>
            </ul>
        </div>

        <div id="content">
            <h2>Параметры пользователя</h2>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
            <form th:action="@{/users/}" action="" method="post">
                <input type="hidden" name="id" th:value="${user.id}">
                <table>
                    <tr>
                        <td><label for="login">Логин</label></td>
                        <td><input id="login" name="login" th:placeholder="#{form.user.login}"
                                   placeholder="Введите имя" th:value="${user.login}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="password">Пароль</label></td>
                        <td><input type="password" id="password" name="password" th:placeholder="#{form.user.password}"
                                   placeholder="Введите пароль">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="roles">Роли</label></td>
                        <td>
                            <select id="roles" name="roles">
                                <!--<option selected th:value="${selectedCompany.id}" th:text="${selectedCompany.name}">Выбранное</option>-->
                                <option th:each="role : ${roles}" value="1" th:value="${role.id}" th:text="${role.name}">
                                Option
                                </option>
                            </select>

                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" th:value="#{button.submit}" value="Подтвердить" class="formbutton"></td>
            </form>
            <td>
                <form th:action="@{/users/delete}" method="post">
                    <input type="hidden" th:field="${user.id}" />
                    <input type="submit" th:value="#{button.delete}" value="Удалить" class="formbutton">
                </form>
            </td>
            </tr>
            </table>
        </div>

        <div class="sidebar sidebar-right" th:replace="~{base :: #sidebar-right}">
            <ul>
                <li>
                    <h4>Ссылки</h4>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>

    <div id="footer" th:replace="~{base :: #footer}">
        <p>&copy; Archivarius 2016.</p>
    </div>
</div>
</body>
</html>
