<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Archivarius</title>
<link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>

<body>
<div id="container">
	<div id="header">

    	<h1><a href="/">Archivarius</a></h1>
        <img style="position: absolute; right: 165px; top: 45px" src="images/ArchivariusLogo.png">
        <h2>Documents Workflow System</h2>
    </div>
    
    <div id="navigation">
    	<ul>
        	<li><a href="inbox.html">Входящие документы</a></li>
            <li><a href="outbox.html">Исходящие документы</a></li>
            <li><a href="#empty page.html">Распоряжения</a></li>
            <li><a href="#empty page.html">Контроль исполнений</a></li>
            <li><a href="#empty page.html">Добровольные сообщения</a></li>
            <li><a href="help.html">Справка</a></li>
        </ul>
    </div>
    
    <div id="body">
    	
       <!-- <div class="sidebar sidebar-left"> </div> -->    
               
        <div id="content">
        	<h2>Archivarius</h2>
			<p>Чистая страница заготовка (например для вывода сообщений пока)
            </p>	
        </div>
        
       <!-- <div class="sidebar sidebar-right"> </div> -->
                   
    
    	<div class="clear"></div>
    </div>

    <div id="footer">
    	<p>&copy; Archivarius 2016. OpenSource Documents Workflow System</p>
    </div>
</div>
</body>
</html>
