<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Archivarius - справка</title>
<link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>

<body>
<div id="container">
	<div id="header">

    	<h1><a href="/">Archivarius</a></h1>
        <img style="position: absolute; right: 165px; top: 45px" src="images/ArchivariusLogo.png">
        <h2>Documents Workflow System</h2>
    </div>
    
    <div id="navigation">
    	<ul>
        	<li><a href="inbox.html">Входящие документы</a></li>
            <li><a href="outbox.html">Исходящие документы</a></li>
            <li><a href="#empty page.html">Распоряжения</a></li>
            <li><a href="#empty page.html">Контроль исполнений</a></li>
            <li><a href="#empty page.html">Добровольные сообщения</a></li>
            <li class="selected"><a href="help.html">Справка</a></li>
        </ul>
    </div>
    
    <div id="body">
    	
        <div class="sidebar sidebar-left">
            <ul>	
                <li>
                    <h4>Найти в базе</h4>
                    <form id="searchform" method="get" action="NOT IMPELEMNETED!!">
                    <div>
                        <input type="text" name="s" id="s" size="15" />
                        <input type="submit" value="Поиск" class="formbutton" />
                    
                    </div>
                    </form>
                </li>
                
                <li>
                	 <h4>О программе</h4>
                     <p><strong>Archivarius</strong> - это учебный OpenSource проект, который разработали студенты Khasang GeekTeams во время обучения командной разработки Java Web: Евгений Шамкин, Юрий Корниенко, Артур Ковин, Петр Станкевич, Татьяна Ворбьева и Виктор Канунников, под руководством Сергея Кузнецова.</p>
                </li>
            </ul> 
        </div>
        
        <div id="content">
        	<h2>Archivarius</h2>
			<p>Система <strong>Archivarius</strong> - позволяет автоматизировать документооборот на предприятии.
            Автоматизация делопроизводства позволяет быстро узнать, на каком этапе обработки находится тот или иной документ, кто является исполнителем и какие резолюции были вынесены по документу.
            <br>
            <br>
            <strong>Входящие документы</strong> - здесь Вы можете получить и определить дальнейшие действия с входящей документацей организации:
            <ul>
                <li>ввод документа в систему;</li>
                <li>вынесение резолюции;</li>
                <li>распределение задач по исполнителям;</li>
                <li>исполнение резолюции;</li>
                <li>контроль исполнения резолюции.</li>
            </ul>
            <strong>Исходящие документы</strong> -  здесь Вы можете обработать исходящие документы организации, включая ответы на входящие письма, инициативные и информационные документы фирмы (предложения, заявки, письма, справки, обзоры, договоры и т. п.).
            <br>
            <br>
            <ul>
                <li>подготовка проекта исходящего документа;</li>
                <li>согласование исходящего документа;</li>   
                <li>утверждение исходящего документа;</li>
                <li>оформление исходящего документа;</li>
                <li>отправка исходящего документа</li>
            </ul>          	
			<strong>Распоряжения</strong> -  здесь Вы можете обработать внутренние распорядительные документы компании, такие как: приказы по основной деятельности и личному составу, распоряжения, указания, решения, правила, положения, инструкции, регламенты, штатное расписание и т. п.
            <br>
            <br>
            <ul>
                <li>подготовка проекта распоряжения;</li>
                <li>согласование распоряжения с заинтересованными лицами, в части их касающейся;</li>   
                <li>утверждение распоряжения;</li>
                <li>рассылка распоряжения по департаментам.</li>
            </ul>
            <strong>Контроль исполнений</strong> -  здесь Вы можете отследить сроки и качество выполнения поручений. Для этого необходимо разбить исполнение документа на этапы и назначенить сотрудникам задачи. По окончанию выполения каждого пункта задачи отмечается статус выполнения и дата.
            <br>
            <br>
            <br> 
            <strong>Добровольные сообщения</strong> -  здесь любой сотрудник может отправить добровольное сообщение, поставив галочку "анонимное" и остаться неизвестным, если того пожелает. Цель данного модуля получение информации руководством о трудностях в исполнении или имплементации поставленных задач и распоряжений.
			</p>
			
        </div>
        
        <div class="sidebar sidebar-right">
            <ul>	             
                <li>
                    <h4>Перейти</h4>
                    <ul>
                      <li><a href="#">Входящие документы</a></li>
                      <li><a href="#">Исходящие документы</a></li>
                      <li><a href="#">Обработка распоряжений</a></li>
                      <li><a href="#">Контроль исполнений</a></li>
                      <li><a href="#">Служебные записки</a></li>
                    </ul>
                </li>
                <li>
                    <h4>Ссылки</h4>
                    <ul>
                        <li><a href="http://khasang.io/" title="Khasang GeekTeams">Khasang</a></li>
                        <li><a href="https://vk.com/khasang" title="Khasang группа в ВК">Группа Khasang в VK</a></li>                       
                    </ul>
                </li>
                <li>
                    <h4>Контакты</h4>
                    <ul>
                        <li><a href="mailto:eugeneshamkin@mail.ru" title="Написать письмо Евгению Шамкину">Евгений Шамкин</a></li>
                        <li><a href="mailto:dynamost@dynamost.ru" title="Написать письмо Юрию Корниенко">Юрий Корниенко</a></li>
                        <li><a href="mailto:sliver449@gmail.com" title="Написать письмо Петру Станкевичу">Петр Станкевич</a></li>
                        <li><a href="mailto:askovin@yandex.ru" title="Написать письмо Артуру Ковину">Артур Ковин</a></li>
                        <li><a href="mailto:dabeatfan@gmail.com" title="Написать письмо Виктору Канунникову">Виктор Канунников</a></li>
                        <li><a href="mailto:t.tianav2@gmail.com" title="Написать письмо Воробьевой Татьяне">Воробьева Татьяна</a></li>
                    </ul>
                </li>                                            
            </ul> 
        </div>
    
    	<div class="clear"></div>
    </div>

    <div id="footer">
    	<p>&copy; Archivarius 2016. OpenSource Documents Workflow System</p>
    </div>
</div>
</body>
</html>
