<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Archivarius Login Form</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

      <link rel="stylesheet" href="css/styleLogin.css">

</head>

<body>
  <div class="container">
  <div class="login">
  	<h1 class="login-heading">     
      <img style="position: relative; top: 20px" src="images/ArchivariusSignLight.png">
      <strong>Archivarius Login Form</strong></h1>
      <form method="post">
        <input type="text" name="user" placeholder="Имя пользователя" required="required" class="input-txt" />
          <input type="password" name="password" placeholder="Пароль" required="required" class="input-txt" />
          <div class="login-footer">  
             <a href="#" class="lnk">
              <span class="icon icon--min">Забыли пароль?</span> 
            </a>
            <button type="submit" class="btn btn--right">Войти  </button>
    
          </div>
      </form>
  </div>
</div>
</body>
</html>
