<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Archivarius - распоряжения</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css" /> 
    <script type="text/javascript">
    
    </script>   
</head>

<body>
<div id="container">
	<div id="header">
    	<h1><a href="">Archivarius</a></h1>
        <h2>Documents Workflow System</h2>
    </div>
    
    <div id="navigation">
    	<ul>
        	<li><a href="inbox.html">Входящие документы</a></li>
            <li><a href="outbox.html">Исходящие документы</a></li>
            <li class="selected"><a href="orders.html">Распоряжения</a></li>
            <li><a href="control.html">Контроль исполнений</a></li>
            <li><a href="help.html">Справка</a></li>
        </ul>
    </div>
    
    <div id="body">
    
  
        <div class="sidebar sidebar-left">
            <ul>	
                <li>
                    <h4>Поиск документа</h4>
                    <form id="searchform" method="get" action="NOT IMPELEMNETED!!" >
                    <div>
                        <input type="text" name="s" id="s" size="15" />
                        <input type="submit" value="Найти" class="formbutton" />
                    
                    </div>
                    </form>
                </li>
        </div>

        <div id="content">
    		<form action="" method="post" name="outboxForm" id="form" class="contact_form">
                <label for="orderTheme">Тема распорядительного документа:</label>
                <input type="text" name="orderTheme" placeholder="Введите название документа" id="orderTheme" />
                <br>
                <br>
                <br>
                <label for="name">Тип распорядительного документа:</label>
                <select name="name" id="name" >
                    <option value="A">Распоряжение</option>
                    <option value="B">Приказ</option>
                    <option value="C">Указание</option>
                    <option value="D">Решение</option>
                    <option value="E">Постановление</option>                   
                </select>
                <br>
                <br>
                <br>
                <label for="datepicker">Дата распоряжения:</label>
                <input type="date" id="datepicker">          
                <br>
                <br>
                <label for="additional">Текст распоряжения:</label>
                <textarea rows="8" cols="50" name="additional"  id="additional"></textarea>
                <br>
                <br>
                <span>Получатели:</span>
                <br>
                <br>
                <input type="radio" name="send" id="all" value="sendToWholeOrg" /> <label for="all">  - вся организация</label>
                <br>
                <br>
                <input type="radio" name="send" id="group" value="sendToGroup" /> <label for="group">  - выбранная группа</label>
                <br>
                <br>
                <input type="radio" name="send" id="executor" value="sendToExecutor" /> <label for="executor">  - конкретное лицо</label>
                <br>
                <br>
                <br>     
                
            </form>
             
                <form action="" method="post" name="submitForm" id="SubForm">
                    <label for="encloseFile">Прикрепить файл:</label>
                    <br>
                    <br>
                    <input type="file" name="encloseFile" class="formbutton" />
                    <br>
                    <br>
                    <input type="button" onclick="valid(document.getElementById('form'))" name="submit" value="Отправить" class="formbutton" />
                </form>
    	</div>
 
    	<div class="clear"></div>
    </div>

    <div id="footer">
        <p>&copy; Archivarius 2016. OpenSource Documents Workflow System</p>
    </div>
</div>
</body>
</html>
