<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="common_header(title)">
    <title th:include="${title}">Archivarius</title>
    <link rel="stylesheet" href="../views/css/styles.css" type="text/css" th:href="@{/css/styles.css}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="../views/js/glue.js" th:src="@{/js/glue.js}"></script>
</head>

<body>
<div id="container">
    <div id="header">
        <h1><a href="" th:href="@{/}" th:text="#{overall.title}">Archivarius</a></h1>
        <h2 th:text="#{overall.subtitle}">Documents Workflow System</h2>
        <div class="logo"><img src="../views/images/ArchivariusLogo.png" th:src="@{/images/ArchivariusLogo.png}"
             alt="Archivarius" title="Archivarius">
        </div>
    </div>

    <div id="navigation">
        <nav>
        <ul>
            <li><a href="inbox.html" th:href="@{/inbox}" th:text="#{menu.inbox}">Входящие документы</a></li>
            <li><a href="outbox.html" th:href="@{/outbox}" th:text="#{menu.outbox}">Исходящие документы</a></li>
            <li><a href="internal.html" th:href="@{/internal}" th:text="#{menu.enter}">Внутренние документы</a></li>
            <li><a href="control.html" th:href="@{/control}" th:text="#{menu.control}">Контроль исполнений</a></li>
            <li><a href="help.html" th:href="@{/help}" th:text="#{menu.help}">Справка</a></li>
        </ul>
        <div>
            <span  class="hiUser" th:utext="'Добро пожаловать, ' + ${#authentication.name} + '!'">
            Добро пожаловать, #username!
            </span>
            <br/>
            <a  class="hiUser" href="logout.html" th:href="@{/logout}">Выйти</a>
        </div>
        </nav>
    </div>

    <div id="body">
        <div class="sidebar sidebar-left" id="sidebar-left">
            <ul>
                <li>
                    <h4>Поиск документа</h4>
                    <form id="searchform" th:action="@{/search}" action="/search/" method="get">
                        <div>
                            <input type="text" id="s" size="15" name="searchTerm"/>
                            <input type="submit" value="Найти" class="formbutton"/>
                        </div>
                    </form>
                </li>
            </ul>
            <br>
            <ul>
                <li>
                    <h4>Справочники</h4>
                    <ul>
                        <li><a href="/company/">Организации</a></li>
                        <li><a href="/department/">Подразделения</a></li>
                        <li><a href="/worker/">Сотрудники</a></li>
                        <li><a href="/doctype/">Типы документов</a></li>
                        <li><a href="/document/">Все документы</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/users/">Пользователи</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/role/">Роли</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="sidebar sidebar-right" id="sidebar-right">
            <ul>
                <li>
                    <h4 th:text="#{sidebar.links}">Ссылки</h4>
                    <ul>
                        <li><a href="http://khasang.io/" title="Khasang GeekTeams">Khasang</a></li>
                        <li><a href="https://vk.com/khasang" title="Khasang группа в ВК">Группа Khasang в VK</a></li>
                    </ul>
                </li>
                <li>
                    <h4 th:text="#{sidebar.contacts}">Контакты</h4>
                    <ul>
                        <li><a href="mailto:eugeneshamkin@mail.ru" title="Написать письмо Евгению Шамкину">Евгений
                            Шамкин</a></li>
                        <li><a href="mailto:dynamost@dynamost.ru" title="Написать письмо Юрию Корниенко">Юрий
                            Корниенко</a></li>
                        <li><a href="mailto:t.tianav2@gmail.com" title="Написать письмо Татьяне Воробьевой">Татьяна Воробьева
                            </a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>

    <div id="footer">
        <p th:text="#{footer.copyright}">&copy; Archivarius 2016. OpenSource Documents Workflow System</p>
    </div>
</div>
</body>
</html>
