<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: common_header(~{::title})}">
    <title>Контроль исполнений</title>
    <link rel="stylesheet" href="../views/css/styles.css" type="text/css"/>
</head>

<body>
<div id="container">
    <div id="header" th:replace="~{base :: #header}">
        <h1>Archivarius</h1>
        <h2>Documents Workflow System</h2>
    </div>

    <div id="navigation" th:replace="~{base :: #navigation}">
        <ul>
            <li><a href="control.html">Контроль исполнений</a></li>
        </ul>
    </div>

    <div id="body">
        <div class="sidebar sidebar-left" th:replace="~{base :: #sidebar-left}">
            <ul>
                <li>
                    <h4>О программе</h4>
                </li>
            </ul>
        </div>

        <div id="content">
            <h2>Контроль исполнений</h2>
            <p>Здесь можно отследить срок и статус исполнения документов</p>
            <script type="text/javascript">
                function getDate() {
                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1; //January is 0!
                    var yyyy = today.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd
                    }
                    if (mm < 10) {
                        mm = '0' + mm
                    }
                    today = dd + '/' + mm + '/' + yyyy;
                    document.getElementById('timedisplay').innerHTML = 'Текущая дата: ' + today;
                }
                setInterval(getDate, 0);

                //                function setDateColor() {
                //                  //  var dt =  document.getElementById("yourDate"); //get your date
                //                    var today = new Date(); //get date today
                //                    var dt = document.getElementById("deadlineDate");
                //                  //  x[0].innerHTML = "i want to change my cell color";
                //                 //   x[0].style.backgroundColor = "yellow";
                //                   // if(dt.value <  today )
                //                 //   {
                //                        dt.style.backgroundColor="red";
                //                //    }
                //                }
                //                setDateColor();

            </script>

            <!-- <script src="../views/js/glue.js"></script> -->

            <div id="timedisplay"></div>
            <table id="mytable" class="table">
                <tr>
                    <th th:text="#{table.num}">№ п/п</th>
                    <th th:text="#{table.doc_number}">Вх. №</th>
                    <th th:text="#{table.doc_date_answer}">Срок ответа</th>
                    <th th:text="#{table.document_destination}">Получатель</th>
                    <th th:text="#{table.doc_title}">Название документа</th>
                    <th th:text="#{table.doc_type}">Тип документа</th>
                    <th th:text="#{table.doc_status}">Статус</th>
                    <th th:text="#{table.doc_action}">Действия</th>
                </tr>
                <tr th:each="document, stat : ${controlList}" th:object="${document}">
                    <td th:text="${stat.count}">1</td>
                    <td th:text="*{id}">12345</td>
                    <!-- <td th:text="*{deadline}" th:if="*{deadline} &gt; ${dateNow}" th:class="redRow">29/03/2016</td> -->
                    <td th:text="*{deadline}">29/03/2016</td>
                    <td th:text="${document.department} ? ${document.department.name} : '&nbsp;'">Получатель</td>
                    <td><a href="/document/1" th:href="@{'/document/' + *{id}}" th:text="*{title}">Название</a></td>
                    <td th:text="${document.documentType} ? ${document.documentType.name} : '&nbsp;'">Тип документа</td>
                    <td th:text="*{status}">На подписи</td>
                    <td><a href="/document/1/edit" th:href="@{'/document/' + *{id} + '/edit'}"
                           th:text="#{table.attention}">Уведомить</a></td>
                </tr>
            </table>
        </div>

        <div class="sidebar sidebar-right" th:replace="~{base :: #sidebar-right}">
            <ul>
                <li>
                    <h4>Ссылки</h4>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>

    <div id="footer" th:replace="~{base :: #footer}">
        <p>&copy; Archivarius 2016.</p>
    </div>
</div>
</body>
</html>
