<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: common_header(~{::title})}">
    <title>Archivarius-mn</title>
    <link rel="stylesheet" href="../views/css/styles.css" type="text/css"/>
</head>

<body>
<div id="container">
    <div id="header" th:replace="~{base :: #header}">
        <h1>Archivarius</h1>
        <h2>Documents Workflow System</h2>
    </div>

    <div id="navigation" th:replace="~{base :: #navigation}">
        <ul>
            <li><a href="inbox.html">Входящие документы</a></li>
        </ul>
    </div>

    <div id="body">
        <div class="sidebar sidebar-left" th:replace="~{base :: #sidebar-left}">
            <ul>
                <li>
                    <h4>О программе</h4>
                </li>
            </ul>
        </div>

        <div id="content">
            <h2 th:fragment="common_content_page_title(title)" th:text="${title}">Archivarius</h2>
            <h2>О программе</h2>
            <p>Система <strong>Archivarius</strong> - позволяет автоматизировать документооборот на предприятии.
                Автоматизация делопроизводства позволяет быстро узнать, на каком этапе обработки находится тот или иной
                документ, кто является исполнителем и какие резолюции были вынесены по документу.</p>
            <br>
                <p><strong>Archivarius</strong> - это учебный OpenSource проект, который написали студенты Khasang
                    GeekTeams во время обучения командной разработке Java Web: Евгений Шамкин, Юрий Корниенко, Татьяна
                    Ворбьева под руководством Сергея Кузнецова.</p>
            <br>
            <strong>Входящие документы</strong> - здесь Вы можете получить и определить дальнейшие действия с
            входящей документацей организации:
            <ul>
                <li>ввод документа в систему;</li>
                <li>вынесение резолюции;</li>
                <li>распределение задач по исполнителям;</li>
                <li>исполнение резолюции;</li>
                <li>контроль исполнения резолюции.</li>
            </ul>
            <strong>Исходящие документы</strong> - здесь Вы можете обработать исходящие документы организации, включая
            ответы на входящие письма, инициативные и информационные документы фирмы (предложения, заявки, письма,
            справки, обзоры, договоры и т. п.).
            <br>
            <br>
            <ul>
                <li>подготовка проекта исходящего документа;</li>
                <li>согласование исходящего документа;</li>
                <li>утверждение исходящего документа;</li>
                <li>оформление исходящего документа;</li>
                <li>отправка исходящего документа</li>
            </ul>
            <strong>Распоряжения</strong> - здесь Вы можете обработать внутренние распорядительные документы компании,
            такие как: приказы по основной деятельности и личному составу, распоряжения, указания, решения, правила,
            положения, инструкции, регламенты, штатное расписание и т. п.
            <br>
            <br>
            <ul>
                <li>подготовка проекта распоряжения;</li>
                <li>согласование распоряжения с заинтересованными лицами, в части их касающейся;</li>
                <li>утверждение распоряжения;</li>
                <li>рассылка распоряжения по департаментам.</li>
            </ul>
            <strong>Контроль исполнений</strong> - здесь Вы можете отследить сроки и качество выполнения поручений. Для
            этого необходимо разбить исполнение документа на этапы и назначенить сотрудникам задачи. По окончанию
            выполения каждого пункта задачи отмечается статус выполнения и дата.
            <br>
            <br>
            <br>
            <strong>Добровольные сообщения</strong> - здесь любой сотрудник может отправить добровольное сообщение,
            поставив галочку "анонимное" и остаться неизвестным, если того пожелает. Цель данного модуля получение
            информации руководством о трудностях в исполнении или имплементации поставленных задач и распоряжений.
            </p>

        </div>


    <div class="sidebar sidebar-right" th:replace="~{base :: #sidebar-right}">
        <ul>
            <li>
                <h4>Ссылки</h4>
            </li>
        </ul>
    </div>

    <div class="clear"></div>
</div>

<div id="footer" th:replace="~{base :: #footer}">
    <p>&copy; Archivarius 2016.</p>
</div>
</div>
</body>
</html>
