<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: common_header(~{::title})}">
    <title>Исходящие документы</title>
    <link rel="stylesheet" href="../views/css/styles.css" type="text/css"/>
</head>

<body>
<div id="container">
    <div id="header" th:replace="~{base :: #header}">
        <h1>Archivarius</h1>
        <h2>Documents Workflow System</h2>
    </div>

    <div id="navigation" th:replace="~{base :: #navigation}">
        <ul>
            <li><a href="outbox.html">Исходящие документы</a></li>
        </ul>
    </div>

    <div id="body">
        <div class="sidebar sidebar-left" th:replace="~{sidebars :: #sidebar-left-outbox}">
            <ul>
                <li>
                    <h4>О программе</h4>
                </li>
            </ul>
        </div>

        <div id="content">
            <h2>Исходящие документы</h2>
            <p>Журнал документов отправленных в пользу контрагентов</p>
            <table class="table">
                <tr>
                    <th th:text="#{table.num}">№ п/п</th>
                    <th th:text="#{table.document_num}">Вх №</th>
                    <th th:text="#{table.document_date_recieve}">Дата отправки</th>
                    <th th:text="#{table.document_author}">Отправитель</th>
                    <th th:text="#{table.document_title}">Название документа</th>
                    <th th:text="#{table.doctype_title}">Тип документа</th>
                    <th th:text="#{table.document_status}">Статус</th>
                    <th th:text="#{table.document_destination}">Получатель</th>
                    <th th:text="#{table.document_date_deadline}">Срок ответа</th>
                    <th th:text="#{table.document_file_name}">Файл</th>
                    <th th:text="#{table.doc_action}">Действия</th>
                </tr>
                <tr th:each="document, stat : ${outboxList}" th:object="${document}">
                    <td th:text="${stat.count}">1</td>
                    <td th:text="*{id}">12345</td>
                    <td th:text="*{dateOfReceive}">25/03/2016</td>
                    <td th:text="*{author}">Иванов И.И.</td>
                    <td><a href="/document/1" th:href="@{'/document/' + *{id}}"  th:text="*{title}">Название</a></td>
                    <td th:text="${document.documentType} ? ${document.documentType.name} : '&nbsp;'">Тип документа</td>
                    <td th:text="*{status}">На подписи</td>
                    <td th:text="*{department}">Бухгалтерия</td>
                    <td th:text="*{deadline}">29/03/2016</td>
                    <td th:text="*{fileName}">123.pdf</td>
                    <td><a href="/document/1/edit" th:href="@{'/document/' + *{id} + '/edit'}" th:text="#{table.edit}">Редактировать</a></td>
                </tr>
            </table>
        </div>

        <div class="sidebar sidebar-right" th:replace="~{base :: #sidebar-right}">
            <ul>
                <li>
                    <h4>Ссылки</h4>
                </li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>

    <div id="footer" th:replace="~{base :: #footer}">
        <p>&copy; Archivarius 2016.</p>
    </div>
</div>
</body>
</html>
